// Mixins Here
.btn-style(@btn-color: @sea-shell,@btn-background: @ebony-clay){
    color:@btn-color;
    background-color:@btn-background;
    // width:@btn-width;
    font-size:1.6rem;
    padding:1rem 0;
    text-align:center;
    border-radius:5px;


}